################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FullReactSPA/reactspa.full.client/.vscode/launch.json
